# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title:  EdTech Course Library 
email: CS6460courselibrary@gmail.com
description: > # this means to ignore newlines until "baseurl:"
  Course Library for OMSCS CS6460 Education Technology at Georgia Tech
baseurl: /CourseLibrary
#need to update logo path if repository is moved, cannot dynamically reference root from all site pages
logo: <img src="https://CS6460.github.io/CourseLibrary/assets/images/GT_logo.png" style="width:60px;height:60px;"> 
locale: "en"
collections:
  category_nodes:
    output: true
  leaf_nodes:
  intro_pages:
    output: true  
    
# Build settings
markdown: kramdown
gems:
  - jekyll-feed
exclude:
  - Gemfile
  - Gemfile.lock
